# Node modules (frontend & backend)
**/node_modules/
**/dist/
**/build/

# Bun cache
.bun/

# Environment variables
.env
.env.*

# Logovi i sistemske stvari
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb

# IDE/editor fajlovi
.vscode/
.idea/
.DS_Store
Thumbs.db

# OS junk
*.swp
